  <div class="header clearfix">
    <div class="jumbotron text-center">
      <h1>
        <span class="grey">Evaluations of </span>
        <em><%= @student.name %>
          <span style="font-size:30px;"> (<%= @batch.name %>)</span>
        </em>
      </h1>
    </div>
    <div class="row" style="padding-bottom:20px;">
      <%= link_to "Back to Students",
          batch_path(@batch),
          :class => "btn btn-default" %>
      <%= link_to "Add an evaluation",
          new_evaluation_path( :student_id => @student.id ),
          :class => "btn btn-success pull-right" %>
    </div>

    <!-- All this should be moved to model -->
    <% evaluation_grouped = Evaluation.where(student_id: @student.id).group(:score).count %>
    <%= evaluation_grouped["green"]  = 0 if evaluation_grouped["green"].nil?  %>
    <%= evaluation_grouped["yellow"] = 0 if evaluation_grouped["yellow"].nil?  %>
    <%= evaluation_grouped["red"]    = 0 if evaluation_grouped["red"].nil? %>
    <% eval_perc = {} %>
    <% eval_perc["green"]  = evaluation_grouped["green"] %>
    <% eval_perc["yellow"] = evaluation_grouped["yellow"] %>
    <% eval_perc["red"]    = evaluation_grouped["red"] %>
    <% if @evaluations.length > 0 %>
      <% eval_perc["green"]  = eval_perc["green"]  * 100 / @evaluations.length %>
      <% eval_perc["yellow"] = eval_perc["yellow"] * 100 / @evaluations.length %>
      <% eval_perc["red"]    = eval_perc["red"]    * 100 / @evaluations.length %>
    <% end %>

    <div class="row" style="padding-bottom:20px;">
      <div class="col-md-3">
        <img src="<%= @student.image_url%>" class="student-image center-block img-rounded">
      </div>
      <div class="col-md-9">
        <p>Student statistics :</p>
        <p><%= @evaluations.length %> Evaluations</p>
        <% if @evaluations.length > 0 %>
        <p class="bg-green"  style="padding:5px;">
          <%= evaluation_grouped["green"] %> Evaluations, <%= eval_perc["green"].round(1) %>%
        </p>
        <p class="bg-yellow" style="padding:5px;">
          <%= evaluation_grouped["yellow"] %> Evaluations, <%= eval_perc["yellow"].round(1) %>%
        </p>
        <p class="bg-red"    style="padding:5px;">
          <%= evaluation_grouped["red"] %> Evaluations, <%= eval_perc["red"].round(1) %>%
        </p>
        <% end %>
      </div>
    </div>

    <% cols = 0 %>
    <div class="row">
    <% @evaluations.each do |evaluation| %>
      <div class="col-md-2 bg-<%= evaluation.score %>" style="padding:5px;margin:2px 0;border-radius:15px;">
        <p>Date : <%= evaluation.date.strftime("%d-%m-%Y") %></p>
        <p>Remarks : <%= evaluation.remarks %></p>
        <%= link_to "Edit", edit_evaluation_path(evaluation),
            :class => "pull-left btn btn-sm btn-primary" %>
        <%= link_to "Remove", evaluation_path(evaluation),
            method: :delete,
            data: { confirm: "Remove Evaluation?" },
            :class => "pull-right btn btn-sm btn-warning" %>
      </div>

      <% cols += 1 %>
      <% if cols%6 == 0 %>
    </div>  <!-- class="row" -->
    <div class="row">
      <% end %>
    <% end %>

    </div>  <!-- class="row" -->

  </div>   <!-- class="header clearfix" -->
