<%= form_with model: @student, local: true do |f| %>
<% if @student.errors.any? %>
  <div id="error_explanation">
    <% @student.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>
  <table class="student-form">
    <tbody>
      <tr>
        <td><%= f.label :name %></td>
        <td>&nbsp:&nbsp</td>
        <td><%= f.text_field :name %></td>
      </tr>

      <tr>
        <td><%= f.label "Picture" %></td>
        <td>&nbsp:&nbsp</td>
        <td><%= f.url_field :image_url, :size=>"100", placeholder: "Image URL" %></td>
      </tr>

      <tr>
        <td></td><td></td>
        <td>
          <%= f.submit @student.persisted? ? "Update Student" : "Add Student",
              :class => "btn btn-success" %>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="hidden" id="batch_id" name="batch_id" value="<%= @batch.id %>">
<% end %>
<p style="padding-top:30px;">
<%= link_to "Back to Class "+ @batch.name, batch_path(@batch), :class => "btn btn-default" %>
</p>
