
  <div class="header clearfix">

    <div class="jumbotron text-center">
      <h1><span class="grey">Students of Class</span> <em><%= @batch.name %></em></h1>
    </div>
    <%= link_to "Back to Classes", batches_path, :class => "btn btn-default" %>
    <%= link_to "Add a student",
      new_student_path( :batch_id => @batch.id ),
      batch_id: @batch.id.to_s,
      :class => "btn btn-success pull-right" %>
    <% if @students.length == 0 %>
    <%= link_to "Remove Class", batch_path(@batch),
        method: :delete,
        data: { confirm: "Remove empty Class?" },
        :class => "btn btn-warning pull-right" %>
    <div class="row">
      <h2>This class has no students yet</h2>
    </div>
    <% else %>
    <div class="row">
      <h2>This class has <%= @students.length %> students</h2>
    </div>
    <% end %>
    <% cols = 0 %>
    <div class="row">
    <% @students.each do |student| %>
      <% evaluations = Evaluation.where(student_id: student.id).order("date asc") %>
      <% evaluation_count = evaluations.length %>
      <% evaluation_color = evaluations.length > 0 ? "bg-" + evaluations.last.score : "" %>
      <div class="col-md-3 text-center">
        <h2><%= student.name %></h2>
        <img src="<%= student.image_url%>" class="student-image center-block img-rounded">
        <h3><%= link_to evaluation_count.to_s + " Evaluations",
            student_path(student),
            :class => "btn btn-primary btn-block #{evaluation_color}" %>
        </h3>
        <%= link_to "Edit", edit_student_path(student),
            :class => "btn btn-default pull-left" %>
        <%= link_to "Remove", student_path(student),
            method: :delete,
            data: { confirm: "Remove Student " + student.name + "?" },
            :class => "btn btn-warning pull-right" %>
      </div>

      <% cols += 1 %>
      <% if cols%4 == 0 %>
    </div>  <!-- class="row" -->
    <div class="row">
      <% end %>
    <% end %>

    </div>  <!-- class="row" -->
  </div>   <!-- class="header clearfix" -->
