
  <div class="header clearfix">

    <div class="jumbotron text-center">
      <h1>Classes</h1>
    </div>

    <table class="table" style="width:100%;">
      <thead>
        <tr>
          <td style="width:20%;">Name</td>
          <td style="width:20%;">Start Date</td>
          <td style="width:20%;">End Date</td>
          <td style="width:40%;"></td>
        <tr>
      </thead>
      <tbody>

      <% @batches = Batch.order("start_date asc") %>
      <% @batches.each do |batch| %>
        <% student_count = Student.where(batch_id: batch.id).count() %>
        <tr>
          <td>
            <a href="/students?batch_id=<%= batch.id.to_s %>" class="btn btn-success"><%= batch.name %></a>
          </td>
          <td>
            <%= batch.start_date.strftime("%d-%m-%Y") %>
          </td>
          <td>
            <%= batch.start_date.strftime("%d-%m-%Y") %>
          </td>

          <td>
            <%= student_count %> Students
          </td>

        </tr>
      <% end %>
      </tbody>
    </table>
    <a href="/new_batch" class="btn btn-success">Create a New Class</a>

  </div>   <!-- class="header clearfix" -->
