<!DOCTYPE html>
<html>
  <head>
    <title>StudentEvaluations</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= render "shared/navbar" %>

    <div class="container">
      <header class="footer">
        <p>Student Evaluations, final assignment</p>
      </header>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

      <footer class="footer">
        <p>&copy; 2018 StudEval4U, Inc.</p>
      </footer>
    </div>

  </body>
</html>
